<%- include('partials/header') %>
    <h1>
        <%= title %>
    </h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, repudiandae et iure corporis id cumque fugit
        velit ea ipsa inventore culpa dolorem sunt atque, consequuntur quos placeat minima magnam. Nesciunt.</p>

    <%- include('partials/footer') %>